<%= form_for(@inhability_requirement) do |f| %>
  <% if @inhability_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inhability_requirement.errors.count, "error") %> prohibited this inhability_requirement from being saved:</h2>

      <ul>
      <% @inhability_requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :motivo %><br>
    <%= f.text_field :motivo %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, Employee.all.collect {|s| ["#{s.name} #{s.lastname}", s.id]}.sort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
