<p id="notice"><%= notice %></p>

<h1>Listing Inhability Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Motivo</th>
      <th>Status</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inhability_requirements.each do |inhability_requirement| %>
      <tr>
        <td><%= inhability_requirement.start_date %></td>
        <td><%= inhability_requirement.end_date %></td>
        <td><%= inhability_requirement.motivo %></td>
        <td><%= inhability_requirement.status %></td>
        <td><%= inhability_requirement.employee.short_name %><%= inhability_requirement.employee.identification %></td>
        <td><%= link_to 'Show', inhability_requirement %></td>
        <td><%= link_to 'Edit', edit_inhability_requirement_path(inhability_requirement) %></td>
        <td><%= link_to 'Destroy', inhability_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inhability requirement', new_inhability_requirement_path %>
