<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @inhability_requirement.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @inhability_requirement.end_date %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @inhability_requirement.motivo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @inhability_requirement.status %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @inhability_requirement.employee %>
</p>

<%= link_to 'Edit', edit_inhability_requirement_path(@inhability_requirement) %> |
<%= link_to 'Back', inhability_requirements_path %>
