<html>
    <head>
    </head>
    <body>
        <div>
          <div>
            <h3>Hola <%= @employee.short_name %>, tienes  <%= @vacation + @extra + @inhability + @license %> notificaciones.</h3>
            <br /><br />
            <div >
              <div >
                <ul>
                  <% if @vacation > 0 %>
                  <li >
                    <a > Tienes <span ><%=  @vacation  %></span> solicitudes pendiente por vacaciones.</a>
                  </li>
                  <% end  %>
                  <% if @extra > 0 %>
                  <li >
                    <a > Tienes <span ><%= @extra %></span> solicitudes pendiente por horas extras.</a>
                  </li>
                  <% end %>
                  <% if @inhability > 0 %>
                  <li >
                    <a > Tienes <span ><%= @inhability %></span> solicitudes pendiente por incapacidad.</a>
                  </li>
                  <% end %>
                  <% if @license > 0 %>
                  <li >
                    <a > Tienes <span ><%= @license %></span> solicitudes pendiente por permisos.</a>
                  </li>
                 <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
