<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hola <%= @request[:second_approver_name] %></h3>
<p>
  <%= @request[:name_requesting] %> ha solicitado <%= @request[:type] %> y ha sido aprobada en primera instancia por <%= @request[:approval_to] %>
  <br>ahora debe ser aprobada en SAP.
</p>
<p>
  Para ver mas información has click en el siguiente enlace: <a href="<%= @request[:domain_approval] %>"><%= @request[:domain_approval] %></a>
</p>
<p>
  Cordialmente: <br><br>
  <%= @request[:name_company] %>
</p>

<p>NOTA: Este correo ha sido generado automáticamente, por favor no lo responda.</p>
</body>
</html>