<%= form_for(@employee, url: employee_create_employees_path(@employee)) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>	
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :second_name %><br>
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :second_lastname %><br>
    <%= f.text_field :second_lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, @users.collect {|s| [s.name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :identification %><br>
    <%= f.number_field :identification %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :superadmin %><br>
    <%= f.check_box :superadmin %>
  </div>
  <div class="field">
    <%= f.label :apply_reviewer %><br>
    <%= f.number_field :apply_reviewer %>
  </div>
  <div class="field">
    <%= f.label :data_reviewer %><br>
    <%= f.number_field :data_reviewer %>
  </div>
  <div class="field">
    <%= f.label :posicion %><br>
    <%= f.text_field :posicion %>
  </div>
  <div class="field">
    <%= f.label :unidad_org %><br>
    <%= f.text_field :unidad_org %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :division_per %><br>
	<%= f.text_field :division_per %>
  </div>
  <div class="field">
    <%= f.label :subdivision_per %><br>
    <%= f.text_field :subdivision_per %>
  </div>
  <div class="field">
    <%= f.label :moabw %><br>
    <%= f.text_field :moabw %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
