<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>
	<%= form_tag destroy_multiple_employees_path, method: :delete do %>
<table>
  <thead>
    <tr>
	  <th>Id</th>
	  <th>company_Identification</th>
      <th>Name</th>
      <th>Second name</th>
      <th>Lastname</th>
      <th>Second lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Boss</th>
      <th>User</th>
      <th>Short name</th>
	  <th>Company</th>
      <th>Image</th>
      <th>Admin</th>
      <th>Superadmin</th>
      <th>Apply reviewer</th>
      <th>Data reviewer</th>
      <th>Posicion</th>
		<th>unidad_org</th>
		<th>area</th>
		<th>division_per</th>
		<th>subdivision_per</th>
		<th>moabw</th>
		<th>company_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
		<td>
			<%= check_box_tag "employees[]", employee.id %>
			<%= employee.id %>
		</td>
		<td><%= employee.identification %></td>
        <td><%= employee.name %></td>
        <td><%= employee.second_name %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.second_lastname %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.boss %></td>
        <td><%= employee.user_id %></td>
        <td><%= employee.short_name %></td>
		<td><%= employee.company.present? ? employee.company.name : ""  %></td>
		<% if employee.image.present? %>
			<td><%= image_tag employee.image %></td>
		<% end %>
        <td><%= employee.admin %></td>
        <td><%= employee.superadmin %></td>
        <td><%= employee.apply_reviewer %></td>
        <td><%= employee.data_reviewer %></td>
		<td><%= employee.posicion %></td>
		<td><%= employee.unidad_org %></td>
		<td><%= employee.area %></td>
		<td><%= employee.division_per %></td>
		<td><%= employee.subdivision_per %></td>
		<td><%= employee.moabw %></td>
		<td><%= employee.company_id %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td>
			<%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Delete selected", :class => "button alert" %>
<%= will_paginate @employees %>
<% end %>

<br>

<%= link_to 'New Employee', new_employee_path %>
