<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Cumpleaños">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombres</Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Correo</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
		<Cell><Data ss:Type="String">Fecha de cumpleaños</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de ingreso</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
      </Row>
    <% @employees.each do |user| %>
		<% if user.fecha_nac.present? && user.fecha_nac.month == Time.now.month %>
	      <Row>
	        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.lastname %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
	        <Cell><Data ss:Type="Number"><%= user.age %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.fecha_nac %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.fecha_ingreso %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.area %></Data></Cell>
	      </Row>
		<% end %>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Aniversarios">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombres</Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Correo</Data></Cell>
        <Cell><Data ss:Type="String">Antiguedad</Data></Cell>
		<Cell><Data ss:Type="String">Fecha de cumpleaños</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de ingreso</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
      </Row>
    <% @employees.each do |user| %>
		<% if user.fecha_ingreso.present? && user.fecha_ingreso.month == Time.now.month %>
	      <Row>
	        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.lastname %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
	        <Cell><Data ss:Type="Number"><%= user.antiguedad %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.fecha_nac %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.fecha_ingreso %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.area %></Data></Cell>
	      </Row>
		<% end %>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Sesiones">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombres</Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Correo</Data></Cell>
        <Cell><Data ss:Type="String">Ultimo ingreso</Data></Cell>
		<Cell><Data ss:Type="String">Fecha de cumpleaños</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de ingreso</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
      </Row>
    <% @employees.each do |user| %>
		<% if user.fecha_ingreso.present? && user.fecha_ingreso.month == Time.now.month %>
	      <Row>
	        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.lastname %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
          <% if user.user.present? %>
  	        <Cell><Data ss:Type="String"><%= user.user.last_sign_in_at.present? ? 'Hace ' + time_ago_in_words(user.user.last_sign_in_at) : 'No ha ingresado nunca' %></Data></Cell>
          <% else %>
            <Cell><Data ss:Type="String">Usuario no vinculado</Data></Cell>
          <% end %>
          
	        <Cell><Data ss:Type="String"><%= user.fecha_nac %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.fecha_ingreso %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= user.area %></Data></Cell>
	      </Row>
		<% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
