

<ul>
<% @employee.attributes.each_pair do |name, value| %>
  <% if name == "image" %>
	  <li> <%= name %>: <%= image_tag value %> </li>
  <% else %>
	  <li> <%= name %>: <strong><%= value %></strong> </li>
  <% end %>
<% end %>
</ul>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
