<p id="notice"><%= notice %></p>

<h1>Listing Vacations</h1>

<table>
  <thead>
    <tr>
	  <th>Numero</th>
      <th>company_id</th>
      <th>resumen</th>
      <th>detalle</th>
      <th>User</th>
	  <th>Pernr</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @vacations.each do |vacation| %>
      <tr>
		<td><%= vacation.id %></td>
        <td><%= vacation.company_id %></td>
        <td><%= vacation.resumen %></td>
        <td><%= vacation.detalle %></td>
        <td><%= vacation.user_id %></td>
        <td><%= vacation.pernr %></td>
        <td><%= link_to 'Show', vacation %></td>
        <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
        <td><%= link_to 'Destroy', vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @vacations %>
<br>

<%= link_to 'New Vacation', new_vacation_path %>
