<p id="notice"><%= notice %></p>

<ul>
<% @vacation.attributes.each_pair do |name, value| %>
  <li> <%= name %>: <strong><%= value %></strong> </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
