<%= form_for(@saldo) do |f| %>
  <% if @saldo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saldo.errors.count, "error") %> prohibited this saldo from being saved:</h2>

      <ul>
      <% @saldo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bukrs %><br>
    <%= f.text_field :bukrs %>
  </div>
  <div class="field">
    <%= f.label :pernr %><br>
    <%= f.number_field :pernr %>
  </div>
  <div class="field">
    <%= f.label :saldo %><br>
    <%= f.text_field :saldo %>
  </div>
  <div class="field">
    <%= f.label :vcausado %><br>
    <%= f.text_field :vcausado %>
  </div>
  <div class="field">
    <%= f.label :intsaldo %><br>
    <%= f.text_field :intsaldo %>
  </div>
  <div class="field">
    <%= f.label :intvcausado %><br>
    <%= f.text_field :intvcausado %>
  </div>
  <div class="field">
    <%= f.label :totdevengos %><br>
    <%= f.text_field :totdevengos %>
  </div>
  <div class="field">
    <%= f.label :totdeducciones %><br>
    <%= f.text_field :totdeducciones %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, @employees.collect {|s| ["#{s.name} #{s.lastname}", s.id]} %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
