<p id="notice"><%= notice %></p>

<h1>Listing Saldos</h1>

<table>
  <thead>
    <tr>
      <th>Bukrs</th>
      <th>Pernr</th>
      <th>Saldo</th>
      <th>Vcausado</th>
      <th>Intsaldo</th>
      <th>Intvcausado</th>
      <th>Totdevengos</th>
      <th>Totdeducciones</th>
      <th>T cesantias</th>
      <th>T intcesantias</th>
      <th>T endeudamiento</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saldos.each do |saldo| %>
      <tr>
        <td><%= saldo.bukrs %></td>
        <td><%= saldo.pernr %></td>
        <td><%= saldo.saldo %></td>
        <td><%= saldo.vcausado %></td>
        <td><%= saldo.intsaldo %></td>
        <td><%= saldo.intvcausado %></td>
        <td><%= saldo.totdevengos %></td>
        <td><%= saldo.totdeducciones %></td>
        <td><%= saldo.t_cesantias %></td>
        <td><%= saldo.t_intcesantias %></td>
        <td><%= saldo.t_endeudamiento %></td>
        <td><%= saldo.employee_id %></td>
        <td><%= link_to 'Show', saldo %></td>
        <td><%= link_to 'Edit', edit_saldo_path(saldo) %></td>
        <td><%= link_to 'Destroy', saldo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saldo', new_saldo_path %>
