<p id="notice"><%= notice %></p>

<p>
  <strong>Bukrs:</strong>
  <%= @saldo.bukrs %>
</p>

<p>
  <strong>Pernr:</strong>
  <%= @saldo.pernr %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @saldo.saldo %>
</p>

<p>
  <strong>Vcausado:</strong>
  <%= @saldo.vcausado %>
</p>

<p>
  <strong>Intsaldo:</strong>
  <%= @saldo.intsaldo %>
</p>

<p>
  <strong>Intvcausado:</strong>
  <%= @saldo.intvcausado %>
</p>

<p>
  <strong>Totdevengos:</strong>
  <%= @saldo.totdevengos %>
</p>

<p>
  <strong>Totdeducciones:</strong>
  <%= @saldo.totdeducciones %>
</p>

<p>
  <strong>T cesantias:</strong>
  <%= @saldo.t_cesantias %>
</p>

<p>
  <strong>T intcesantias:</strong>
  <%= @saldo.t_intcesantias %>
</p>

<p>
  <strong>T endeudamiento:</strong>
  <%= @saldo.t_endeudamiento %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @saldo.employee_id %>
</p>

<%= link_to 'Edit', edit_saldo_path(@saldo) %> |
<%= link_to 'Back', saldos_path %>
