<p id="notice"><%= notice %></p>

<h1>Listing Compensatory Vacations</h1>

<table>
  <thead>
    <tr>
      <th>At date</th>
      <th>Rule</th>
      <th>Quantity</th>
      <th>Reason</th>
      <th>Pay</th>
      <th>Status</th>
      <th>Tipo</th>
      <th>Attachment</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compensatory_vacations.each do |compensatory_vacation| %>
      <tr>
        <td><%= compensatory_vacation.at_date %></td>
        <td><%= compensatory_vacation.rule %></td>
        <td><%= compensatory_vacation.quantity %></td>
        <td><%= compensatory_vacation.reason %></td>
        <td><%= compensatory_vacation.pay %></td>
        <td><%= compensatory_vacation.status %></td>
        <td><%= compensatory_vacation.tipo %></td>
        <td><%= compensatory_vacation.attachment %></td>
        <td><%= compensatory_vacation.employee %></td>
        <td><%= link_to 'Show', compensatory_vacation %></td>
        <td><%= link_to 'Edit', edit_compensatory_vacation_path(compensatory_vacation) %></td>
        <td><%= link_to 'Destroy', compensatory_vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compensatory vacation', new_compensatory_vacation_path %>
