<p id="notice"><%= notice %></p>

<p>
  <strong>At date:</strong>
  <%= @compensatory_vacation.at_date %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @compensatory_vacation.rule %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @compensatory_vacation.quantity %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @compensatory_vacation.reason %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @compensatory_vacation.pay %>
</p>

<p>
  <strong>Status:</strong>
  <%= @compensatory_vacation.status %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @compensatory_vacation.tipo %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @compensatory_vacation.attachment %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @compensatory_vacation.employee %>
</p>

<%= link_to 'Edit', edit_compensatory_vacation_path(@compensatory_vacation) %> |
<%= link_to 'Back', compensatory_vacations_path %>
