<p id="notice"><%= notice %></p>

<p>
  <strong>Tipos:</strong>
  <%= @type.tipos %>
</p>

<p>
  <strong>Company:</strong>
  <%= @type.company %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
