<%= form_for(@employee_info) do |f| %>
  <% if @employee_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_info.errors.count, "error") %> prohibited this employee_info from being saved:</h2>

      <ul>
      <% @employee_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, @employees.collect {|s| [s.short_name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :bukrs %><br>
    <%= f.number_field :bukrs %>
  </div>
  <div class="field">
    <%= f.label :pernr %><br>
    <%= f.number_field :pernr %>
  </div>
  <!-- <div class="field">
    <%= f.label :datos_personales %><br>
    <%= f.text_area :datos_personales %>
  </div>
  <div class="field">
    <%= f.label :datos_empresariales %><br>
    <%= f.text_area :datos_empresariales %>
  </div>
  <div class="field">
    <%= f.label :datos_bancarios %><br>
    <%= f.text_area :datos_bancarios %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
