<p id="notice"><%= notice %></p>

<h1>Listing Employee Infos <%= @employee_infos.count %></h1>
<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Bukrs</th>
	  <th>Company</th>
      <th>Pernr</th>
      <th>Datos personales</th>
	  <th>Datos contacto</th>
	  <th>Datos familiares</th>
	  <th>Datos beneficiarios</th>
      <th>Datos empresariales</th>
      <th>Datos bancarios</th>
      <th>Impuestos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_infos.each do |employee_info| %>
      <tr>
        <td><%= employee_info.employee_id %></td>
        <td><%= employee_info.bukrs %></td>
        <td><%= employee_info.company_id %></td>
        <td><%= employee_info.pernr %></td>
        <td><%= employee_info.datos_personales.present? ? "estan" : "no estan" %></td>
		<td><%= employee_info.datos_contacto.present? ? "estan" : "no estan" %></td>
		<td><%= employee_info.datos_familiares.present? ? "estan" : "no estan" %></td>
		<td><%= employee_info.datos_beneficiarios.present? ? "estan" : "no estan" %></td>
        <td><%= employee_info.datos_empresariales.present? ? "estan" : "no estan" %></td>
        <td><%= employee_info.datos_bancarios.present? ? "estan" : "no estan" %></td>
        <td><%= employee_info.datos_impuestos.present? ? "estan" : "no estan" %></td>
        <td><%= link_to 'Show', employee_info %></td>
        <td><%= link_to 'Edit', edit_employee_info_path(employee_info) %></td>
        <td><%= link_to 'Destroy', employee_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee info', new_employee_info_path %>
