<p id="notice"><%= notice %></p>

<p><%= params  %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_info.employee_id %>
</p>

<p>
  <strong>Bukrs:</strong>
  <%= @employee_info.bukrs %>
</p>

<p>
  <strong>Pernr:</strong>
  <%= @employee_info.pernr %>
</p>

<p>
  <strong>Datos personales:</strong>
  <%= @employee_info.datos_personales %>
</p>

<p>
  <strong>Datos empresariales:</strong>
  <%= @employee_info.datos_empresariales %>
</p>

<p>
  <strong>Datos bancarios:</strong>
  <%= @employee_info.datos_bancarios %>
</p>

<%= link_to 'Edit', edit_employee_info_path(@employee_info) %> |
<%= link_to 'Back', employee_infos_path %>
