<h4>Usuarios</h4>
<%= link_to "Crear usuario", new_person_path %>
<hr />
<ol>
<% @users.each do |user| %>
	<li>
		<%= user.name %>
        <ul class="button-group radius">
          <li>
            <%= link_to edit_person_path(user), :class => "button no-margin secondary tiny" do %>
             	<span class="pencil"></span> Editar
            <% end %>
          </li>
          <li>
            <%= link_to person_path(user), method: :delete, data: { confirm: '¿Estas seguro?' }, :class => "tiny button alert no-margin" do %>
				<span class="trash"></span> Borrar
            <% end %>
          </li>
        </ul>
		<ul>
			<% user.attributes.each_pair do |name, value| %>
				<li> <%= name %>: <strong><%= value %></strong> </li>
			<% end %>
		</ul>
	</li>
<% end %>
</ol>

