<h4>Usuario</h4>
<ul>
<% @user.attributes.each_pair do |name, value| %>
	<%  if name == "image" %>
		<li> <p><%= name %></p><%= image_tag @user.image_url(:big).to_s, :class => 'th' %> </li>
	<% elsif name == "pic" %>
		<li> <p><%= name %></p> <%= image_tag @user.pic, :class => 'th' %> </li>
	<% else %>
	  <li> <%= name %>: <strong><%= value %></strong> </li>
	<% end %>
<% end %>
</ul>


<% if @user.employee.present? %>
<h4>Empleado</h4>
<ul>
<% @user.employee.attributes.each_pair do |name, value| %>
	<%  if name == "image" %>
		<li> <p><%= name %></p> <%= image_tag @user.image, :class => 'th' %> </li>
	<% else %>
		<li> <%= name %>: <strong><%= value %></strong> </li>
  <% end %>
<% end %>
</ul>
<% else %>
	<%= @user.employee_id.present? ? @user.employee_id : "no tiene employee_id" %>
<% end %>
<% if @user.vacation.present? %>
<h4>Vacación</h4>
<ul>
<% @user.vacation.attributes.each_pair do |name, value| %>
  <li> <%= name %>: <strong><%= value %></strong> </li>
<% end %>
</ul>
<% else %>
	<p><b>No tiene vacaciones</b></p>
<% end %>


<% if @user.employee.saldo.present? %>
<h4>Saldos</h4>
	<ul>
	<% @user.employee.saldo.attributes.each_pair do |name, value| %>
	  <li> <%= name %>: <strong><%= value %></strong> </li>
	<% end %>
	</ul>
<% else %>
	<p><b>No tiene saldo</b></p>
<% end %>

<% if @user.employee.employee_info.present? %>
<h4>Datos maestros</h4>
	<ul>
	<% @user.employee.employee_info.attributes.each_pair do |name, value| %>
	  <li> <%= name %>: <strong><%= value %></strong> </li>
	<% end %>
	</ul>
<% else %>
	<p><b>No tiene datos maestros</b></p>
<% end %>


<h4>Compañia</h4>
<ul>
<% @user.company.attributes.each_pair do |name, value| %>
  <li> <%= name %>: <strong><%= value %></strong> </li>
<% end %>
</ul>


