<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
  </div>
  <div class="field">
    <%= f.label :mainurl %><br>
    <%= f.text_field :mainurl %>
  </div>
  <div class="field">
    <%= f.label :sv_cesantias, "Contratación:" %><br>
    <%= f.text_field :sv_cesantias %>
  </div>
  <fieldset>
      <legend>Al dia en pagos</legend>
      <div class="row">
        <div class="large-3 columns">
          <label for="payment">¿Activa?</label>
        </div>
        <div class="large-9 columns">
          <div class="switch">
            <%= f.check_box :active %>
            <%= f.label :active %>
          </div>
        </div>
      </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
