<p id="notice"><%= notice %></p>

<ul>
<% @company.attributes.each_pair do |name, value| %>
  <li> <%= name %>: <strong><%= value %></strong> </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
