<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un enlace para cambiar su contraseña . Usted puede hacer esto a través del siguiente enlace.</p>

<p>
  <a href="<%= @resource.company.front_domain %>/#/password_edit/<%= @token %>" >Cambiar mi contraseña</a>
</p>

<p>Si usted no ha solicitado este , por favor, ignora este mensaje </p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y crear una nueva.</p>
