<%= form_for(@labor) do |f| %>
  <% if @labor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labor.errors.count, "error") %> prohibited this labor from being saved:</h2>

      <ul>
      <% @labor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mandt %><br>
    <%= f.text_field :mandt %>
  </div>
  <div class="field">
    <%= f.label :ansvh %><br>
    <%= f.text_field :ansvh %>
  </div>
  <div class="field">
    <%= f.label :scesa %><br>
    <%= f.text_field :scesa %>
  </div>
  <div class="field">
    <%= f.label :shoex %><br>
    <%= f.text_field :shoex %>
  </div>
  <div class="field">
    <%= f.label :sinca %><br>
    <%= f.text_field :sinca %>
  </div>
  <div class="field">
    <%= f.label :sperm %><br>
    <%= f.text_field :sperm %>
  </div>
  <div class="field">
    <%= f.label :spres %><br>
    <%= f.text_field :spres %>
  </div>
  <div class="field">
    <%= f.label :svaca %><br>
    <%= f.text_field :svaca %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, Employee.all.collect {|s| ["#{s.name} #{s.lastname}", s.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
