<p id="notice"><%= notice %></p>

<h1>Listing Labors</h1>

<table>
  <thead>
    <tr>
      <th>Mandt</th>
      <th>Ansvh</th>
      <th>Scesa</th>
      <th>Shoex</th>
      <th>Sinca</th>
      <th>Sperm</th>
      <th>Spres</th>
      <th>Svaca</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labors.each do |labor| %>
      <tr>
        <td><%= labor.mandt %></td>
        <td><%= labor.ansvh %></td>
        <td><%= labor.scesa %></td>
        <td><%= labor.shoex %></td>
        <td><%= labor.sinca %></td>
        <td><%= labor.sperm %></td>
        <td><%= labor.spres %></td>
        <td><%= labor.svaca %></td>
        <td><%= labor.employee %></td>
        <td><%= link_to 'Show', labor %></td>
        <td><%= link_to 'Edit', edit_labor_path(labor) %></td>
        <td><%= link_to 'Destroy', labor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Labor', new_labor_path %>
