<p id="notice"><%= notice %></p>

<p>
  <strong>Mandt:</strong>
  <%= @labor.mandt %>
</p>

<p>
  <strong>Ansvh:</strong>
  <%= @labor.ansvh %>
</p>

<p>
  <strong>Scesa:</strong>
  <%= @labor.scesa %>
</p>

<p>
  <strong>Shoex:</strong>
  <%= @labor.shoex %>
</p>

<p>
  <strong>Sinca:</strong>
  <%= @labor.sinca %>
</p>

<p>
  <strong>Sperm:</strong>
  <%= @labor.sperm %>
</p>

<p>
  <strong>Spres:</strong>
  <%= @labor.spres %>
</p>

<p>
  <strong>Svaca:</strong>
  <%= @labor.svaca %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @labor.employee %>
</p>

<%= link_to 'Edit', edit_labor_path(@labor) %> |
<%= link_to 'Back', labors_path %>
