<%= form_for(@service_vacation) do |f| %>
  <% if @service_vacation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_vacation.errors.count, "error") %> prohibited this service_vacation from being saved:</h2>

      <ul>
      <% @service_vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.text_field :attachment %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :more_text %><br>
    <%= f.text_area :more_text %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :days %><br>
    <%= f.number_field :days %>
  </div>
  <div class="field">
    <%= f.label :approver_id_posicion %><br>
    <%= f.number_field :approver_id_posicion %>
  </div>
  <div class="field">
    <%= f.label :approved_by_identification %><br>
    <%= f.number_field :approved_by_identification %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
