<p id="notice"><%= notice %></p>

<h1>Listing Service Vacations</h1>

<table>
  <thead>
    <tr>
      <th>Attachment</th>
      <th>Tipo</th>
      <th>Fecha</th>
      <th>More text</th>
      <th>Status</th>
      <th>Employee</th>
      <th>Days</th>
      <th>Approver id posicion</th>
      <th>Approved by identification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_vacations.each do |service_vacation| %>
      <tr>
        <td><%= service_vacation.attachment %></td>
        <td><%= service_vacation.tipo %></td>
        <td><%= service_vacation.fecha %></td>
        <td><%= service_vacation.more_text %></td>
        <td><%= service_vacation.status %></td>
        <td><%= service_vacation.employee %></td>
        <td><%= service_vacation.days %></td>
        <td><%= service_vacation.approver_id_posicion %></td>
        <td><%= service_vacation.approved_by_identification %></td>
        <td><%= link_to 'Show', service_vacation %></td>
        <td><%= link_to 'Edit', edit_service_vacation_path(service_vacation) %></td>
        <td><%= link_to 'Destroy', service_vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service vacation', new_service_vacation_path %>
