<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @service_vacation.attachment %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @service_vacation.tipo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @service_vacation.fecha %>
</p>

<p>
  <strong>More text:</strong>
  <%= @service_vacation.more_text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service_vacation.status %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @service_vacation.employee %>
</p>

<p>
  <strong>Days:</strong>
  <%= @service_vacation.days %>
</p>

<p>
  <strong>Approver id posicion:</strong>
  <%= @service_vacation.approver_id_posicion %>
</p>

<p>
  <strong>Approved by identification:</strong>
  <%= @service_vacation.approved_by_identification %>
</p>

<%= link_to 'Edit', edit_service_vacation_path(@service_vacation) %> |
<%= link_to 'Back', service_vacations_path %>
