<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hola <%= @request[:name_requesting] %></h3>
<p>
  Su solicitud <%= @request[:type] %> ha sido actualizada por <%= @request[:approval_to] %> y ahora su estado es <%= @request[:status] %>
  <br>
  <% if @request[:comment].present? %>
   adjunto se ha realizado el siguiente comentario <br/><br/>"<%= @request[:comment] %>"
  <% end %>
</p>
<p>
  Para ver mas información has click en el siguiente enlace:
  <br>
  <a href="<%= @request[:domain_requesting] %>"><%= @request[:domain_requesting] %></a>
</p>
<p>
  Cordialmente: <br><br>
  <%= @request[:name_company] %>
</p>

<p>NOTA: Este correo ha sido generado automáticamente, por favor no lo responda.</p>
</body>
</html>