<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @user[:name] %></h3>
    <p>
      Has registrado la solicitud de <%= @user[:type_request] %> ha sido registrada con exito. Pronto será validada por <%= @user[:approver] %>.

      Para ver mas información has click en el siguiente enlace: <a href="<%= @user[:domain] %>"><%= @user[:domain] %></a>
    </p>

    <p>
      Cordialmente: <br><br>
      <%= @user[:name_company] %>
    </p>

  <p>NOTA: Este correo ha sido generado automáticamente, por favor no lo responda.</p>
  </body>
</html>