<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @user[:name] %></h3>
    <p>
      <%= @user[:employee_requesting] %> ha solicitado <%= @user[:type_request] %>.
    </p>
    <p>
      Para ver mas información has click en el siguiente enlace:<br>
      <a href="<%= @user[:link_request] %>"><%= @user[:link_request] %></a>
    </p>
    <p>
      Cordialmente: <br><br>
      <%= @user[:name_company] %>
    </p>

    <p>NOTA: Este correo ha sido generado automáticamente, por favor no lo responda.</p>
  </body>
</html>