<%= form_for(@info) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pernr %><br>
    <%= f.number_field :pernr %>
  </div>
  <div class="field">
    <%= f.label :subty %><br>
    <%= f.text_field :subty %>
  </div>
  <div class="field">
    <%= f.label :ncamp %><br>
    <%= f.text_field :ncamp %>
  </div>
  <div class="field">
    <%= f.label :ccamp %><br>
    <%= f.text_field :ccamp %>
  </div>
  <div class="field">
    <%= f.label :objid %><br>
    <%= f.text_field :objid %>
  </div>
  <div class="field">
    <%= f.label :boss %><br>
    <%= f.text_field :boss %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
