<p id="notice"><%= notice %></p>

<h1>Listar infos</h1>

<table>
  <thead>
    <tr>
      <th>Pernr</th>
      <th>Subty</th>
      <th>Ncamp</th>
      <th>Dcamp</th>
      <th>Ccamp</th>
      <th>Objid</th>
	  <th>Comparador</th>
      <th>Boss</th>
      <th>Approved</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.pernr %></td>
        <td><%= info.subty %></td>
        <td><%= info.ncamp %></td>
        <td><%= info.dcamp %></td>
        <td><%= info.ccamp %></td>
        <td><%= info.objid %></td>
        <td><%= info.comparador %></td>
        <td><%= info.boss %></td>
        <td><%= info.approved %></td>
        <td><%= info.employee %></td>
        <td><%= link_to 'Show', info %></td>
        <td><%= link_to 'Edit', edit_info_path(info) %></td>
        <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info', new_info_path %>
