<p id="notice"><%= notice %></p>

<p>
  <strong>Pernr:</strong>
  <%= @info.pernr %>
</p>

<p>
  <strong>Subty:</strong>
  <%= @info.subty %>
</p>

<p>
  <strong>Ncamp:</strong>
  <%= @info.ncamp %>
</p>

<p>
  <strong>Ccamp:</strong>
  <%= @info.ccamp %>
</p>

<p>
  <strong>Objid:</strong>
  <%= @info.objid %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @info.boss %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @info.approved %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @info.employee %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
