<%= form_for(@certificate_work) do |f| %>
  <% if @certificate_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate_work.errors.count, "error") %> prohibited this certificate_work from being saved:</h2>

      <ul>
      <% @certificate_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :fecha %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, @employees.collect {|s| [s.short_name, s.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
