<p id="notice"><%= notice %></p>

<h1>Listing Certificate Works <small><%= @certificate_works.count %></small></h1>

<table>
  <thead>
    <tr>
      <!-- <th>Data</th> -->
	  <th>Certificado laboral</th>
	  <th>Ingresos y ret.</th>
      <th>Fecha</th>
      <th>Company</th>
      <th>Employee</th>
	  <th>Pernr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificate_works.each do |certificate_work| %>
      <tr>
		<!-- <td>
			<%# certificate_work.data.present? ? certificate_work.data : "No data" %>
		</td> -->
		<td><%= link_to "ver pdf", "/carta_laboral-#{certificate_work.company_id}/carta_laboral_#{certificate_work.pernr}_#{certificate_work.company_id}.pdf" %></td>
		<td>
			<%= link_to "ver pdf", "/ingyret-#{certificate_work.company_id}/ingyret_#{certificate_work.pernr}_#{certificate_work.company_id}.pdf" %>
		</td>
        <td><%= certificate_work.fecha %></td>
        <td><%= certificate_work.company_id %></td>
        <td>id: <%= certificate_work.employee_id %></td>
        <td><%= certificate_work.pernr %> <% @employee = Employee.where(identification: certificate_work.pernr.to_i).first %> <%= @employee.short_name %> </td>
        <td><%= link_to 'Show', certificate_work %></td>
        <td><%= link_to 'Edit', edit_certificate_work_path(certificate_work) %></td>
        <td><%= link_to 'Destroy', certificate_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificate work', new_certificate_work_path %>
