<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @certificate_work.data %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @certificate_work.fecha %>
</p>

<p>
  <strong>Company:</strong>
  <%= @certificate_work.company_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @certificate_work.employee_id %>
</p>

<%= link_to 'Edit', edit_certificate_work_path(@certificate_work) %> |
<%= link_to 'Back', certificate_works_path %>
