<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Interactive - HR</title>

    <%= csrf_meta_tags %>
  </head>

  <body>
    	<%= yield %>
  </body>
</html>